<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Windows">
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <appSettings>
    <!--<add key="ConStrMax" value="Data Source=209.162.190.116;Initial Catalog=FrequentParker08;Persist Security Info=True;User ID=PCADBA; Password=tGBPwtSBi10!" />-->
    <!--<add key="ConStrLocal" value="Data Source=park09\park09;Initial Catalog=FrequentParker08;Integrated Security=True" />-->
    <!--<add key="ConStrLocal" value="Data Source=192.168.11.126\PCAAWSTEST;Initial Catalog=FrequentParker08;Persist Security Info=True;User ID=sa;Password=mike2631" />-->
    <add key="ConStrLocal" value="Data Source=pca-sql1;Initial Catalog=FrequentParker08;Persist Security Info=True;User ID=pca-portal-user;Password=r232_X12!" />
    <add key="ConStrMax" value="Data Source=pcafp-prd-api.cczyanyu9tpf.us-east-1.rds.amazonaws.com;Initial Catalog=FrequentParker08;Persist Security Info=True;User ID=pcafp_prd_api;Password=pcafp-PRD-api-098$" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>